<div class="modal-header custom-modal-header">
    <h3 class="modal-title">Verify Installation
        <a class="fa fa-times custom-close" href="" ng-click="website.close()"></a>
    </h3>
</div>
<div class="modal-body custom-modal-body">
    <div class="verify-installation-wrapper">
        <i class="fa fa-times verify-fail-icon" aria-hidden="true"></i>
        <i class="fa fa-check verify-success-icon hidden" aria-hidden="true"></i>
        <div class="verify-code-fail-text text-center">
            <p>We have not found Engageto Installation code on your website.</p>
            <p><a>Click here</a> to know How to install code on your website.</p>
        </div>
        <div class="verify-code-success-text text-center hidden">
            <p>Congratulations!</p>
            <p>You have successfully installed Engageto on your website.</p>
        </div>
    </div>
</div>
