<div class="custom-container">
    <h3 class="custom-container-head">API Credentials</h3>
    <a href="javascript:void(0);" class="help-link">Help</a>
    <div class="api-credentials-wrapper clearfix">
        <div class="api-credentials-details">
            <p>Your API Key: <span>143520ank487dtr261rfgfr75dg64g56408tl</span></p>
            <p>API Stats In <br>current billing cycle: <span>5828/20000</span></p>
        </div>
        <div class="api-button-wrapper">
            <button type="button" class="btn btn-custom btn-regenerate-api-key">Re-Generate API Key</button>
            <a class="api-documentation-link"> API Documentation</a>
        </div>
    </div>
</div>