<div class="modal-header custom-modal-header">
    <h3 class="modal-title">Change password
        <a class="fa fa-times custom-close" href="" ng-click="closeModal()"></a>
    </h3>
</div>
<div class="modal-body change-password-modal-body">
    <form class="change-password-form" name="changePasswordForm" ng-submit="changePassword()">
        <div class="form-group">
            <input type="password" class="form-control" ng-blur="visitedOld = true" ng-focus="visitedOld = false" ng-class="{ 'error-field': visitedOld && changePasswordForm.oldPassword.$error.required}" id="oldPassword" name="oldPassword" ng-model="changePassword.oldPassword" placeholder="Current password" required/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-blur="visitedNew = true; changePassword.enteringPassword = !changePassword.enteringPassword;" ng-focus="visitedNew = false; changePassword.enteringPassword = !changePassword.enteringPassword;" ng-class="{ 'error-field': (visitedNew && changePasswordForm.newPassword.$error.required) || (visitedNew && !changePassword.validPassword)}" id="newPassword" name="newPassword" ng-model="changePassword.newPassword" placeholder="New password" required uib-tooltip="1.One lowercase character 2.One uppercase character 3.One special symbol 4.One numeric character 5.Minimum nine characters" tooltip-placement="top" tooltip-trigger="'focus'"/>
            <ul id="strength" change-password-checker-directive="changePassword.newPassword"></ul>
            <span class="error" style="color: red;" ng-show="!changePassword.validPassword && !changePasswordForm.newPassword.$error.required">Please use a strong password.</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-blur="visitedConfirm = true" ng-focus="visitedConfirm = false" ng-class="{ 'error-field': (visitedConfirm && changePasswordForm.confirmPassword.$error.required) || (changePassword.isMatch && visitedConfirm)}" id="confirmPassword" name="confirmPassword" ng-model="changePassword.confirmPassword" placeholder="Retype new password" required/>
            <span class="error" ng-show="!changePasswordForm.confirmPassword.$error.required && changePassword.isMatch && visitedConfirm">Password do not match!</span>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-cancel-primary" ng-click="closeModal()">Close</button>
            <button type="submit" class="btn btn-custom-primary" ng-disabled="changePasswordForm.$invalid || !changePassword.validPassword || engagetoApp.isLoading">Change password
                <engageto-loader-image ng-if="engagetoApp.isLoading"></engageto-loader-image>
            </button>
        </div>
    </form>
</div>