<div class="modal-header upgrade-downgrade-modal-header">
    <h3 class="modal-title">Upgrade/Downgrade
        <a class="fa fa-times custom-close" href="" ng-click="upgradeDegrade.close()"></a>
    </h3>
</div>
<div class="modal-body upgrade-downgrade-modal-body">
    <div class="pricing-button-wrapper">
        <button type="button" class="btn settings-custom-btn btn-monthly-pricing">Monthly Pricing</button>
        <span>Or</span>
        <button type="button" class="btn settings-custom-btn btn-yearly-pricing">Yearly Pricing</button>
    </div>
    <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <button type="button" class="btn settings-custom-btn btn-upgrade-downgrade">Upgrade/Downgrade</button>
            <div class="startup-wrapper text-center">
                <p class="startup-text-head">Startup</p>
                <p class="startup-text">Most of our customers are using this plan</p>
                <p class="startup-price">$20 Per Month</p>
                <p>Unlimited websites & Notifications</p>
                <p>AB Split Testing</p>
                <p>Marketing Automation using Push Journey</p>
                <p>5 Team Members</p>
                <p>Extra $10 per team member</p>
                <p>Custom Branding</p>
                <p>20000 API Calls</p>
                <p>Custom Branded Reports</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <button type="button" class="btn settings-custom-btn btn-upgrade-downgrade">Upgrade/Downgrade</button>
            <div class="business-wrapper text-center">
                <p class="business-text-head">Business</p>
                <p class="business-price">$10 Per Month</p>
                <p>Unlimited websites & Notifications</p>
                <p>AB Split Testing</p>
                <p>3 Team Members</p>
                <p>Extra $5 per team member</p>
                <p>No Branding</p>
                <p>10000 API Calls</p>
                <p>Custom Branded Reports</p>
            </div>
        </div>
    </div>
</div>
