<div class="dashboard-content-header">
    <h3 class="dashboard-content-area-heading">Get API Key</h3>
    <div class="subtitle"></div>
</div>
<div class="container-fluid">
    <div class="smart-custom-container">
        <div class="smart-custom-wrapper">
            <!--  Get Api Key Container Starts  --> 
            <div class="get-apikey-wrapper">
                <div class="btn-container">
                    <strong>Rest API Key: </strong>
                    <button class="btn btn-custom-primary" ng-click="getAPIKey.getRESTAPIKeyToken()">Submit</button>
                </div>
                <p>Your request for API has been submitted,you will receive API key over email once the request is approved.</p>
                <p><a href="javascript:void();">Please go through the API documentation here.</a></p>
            </div>
            <!--  Get Api Key Container Ends  --> 
        </div>
    </div>
</div>