<div class="modal-header custom-modal-header">
    <h3 class="modal-title">Confirm to review onboarding
        <a class="fa fa-times custom-close" href="" ng-click="onboarding.close()"></a>
    </h3>
</div>
<div class="modal-body custom-modal-body">
    <h5>Steps to add FCM credentials:</h5>
    <p>
        1. If you've gmail account, go to <a>https://console.firebase.google.com/</a> and sign 
        in using your gmail credentials. (You can also Google Apps for Work(Gsuite) for this). 
        If you don't have gmail account, create new free gmail account by going to 
        <a>https://accounts.google.com/Signup?service=mail</a>
    </p>
    <p>
        2. After creating account visit <a>https://console.firebase.google.com</a>
    </p>
    <p>
        3. Click on 'CREATE NEW PROJECT' and Enter your project (website) name and select your 
        country/region. Click on 'CREATE PROJECT' button.
    </p>
    <p>
        4. You'll find gear icon in front of your project name at left sidebar. Click on gear 
        icon and go to 'Project Settings'.
    </p>
    <p>
        5. From General tab copy 'Web API Key' and paste it in first text box.
    </p>
    <p>
        6. Click 'CLOUD MESSAGING' tab, copy 'Server Key' and paste them in below text boxes 
        respectively.
    </p>
</div>