<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">Mobile Website Push Notifications for Android</h1>
        <p>Engage visitors on your website with Push Notifications for Android</p>
        <button type="button" class="btn custom-banner-btn">SIGN UP FOR FREE TRIAL</button>
    </div>
</div>

<div class="custom-browser-wrapper about-notification-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/mobile-browser-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send Push Notifications directly to Android devices through mobile browser!</h4>
                    <p>
                        The easiest way to send Push Notifications to your users mobile browser through your website, 
                        even when not on-site. EngageTo works on Chrome and Firefox browser platform. This means, as 
                        soon as your user login to their browser, they receive your messages right on their mobile 
                        phone. How does this help? You no longer require to invest on a mobile app to connect with 
                        your users on their android devices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper choose-browser-push-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Why choose EngageTo Android Push Notifications Service</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Engage the customers</h4>
                    <p>
                        Make customers crave for more from your website with instant updates. Push Notifications are a 
                        great way to keep them engaged. Get more subscribers, retain old ones.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Effortless set-up</h4>
                    <p>
                        EngageTo installation is a walk in the park. It will take you less than five minutes to set up 
                        and start sending your Push Notifications! We make sure of that!
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Exceptional Backend Support</h4>
                    <p>
                        It can be tiresome to get support for troubleshooting or any other queries. Not with us. Our 
                        world class support team has your back, every time.
                    </p>
                </div>
            </div>
            <button class="btn browser-page-custom-btn btn-try">TRY BEFORE YOU BUY</button>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper enable-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Steps to Operate Android Notifications</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Place your Smart Code</h4>
                    <p>
                        As soon as you create your Free EngageTo account, a Smart Code gets generated. Put this Smart 
                        Code before the closing &lt;/head&gt; tag on your web page.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/smart-code.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/android_optin.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Allow Opt-in</h4>
                    <p>
                        When your website has a visitor, an opt-in box pops up for them. This opt-in box asks for 
                        permission to send Push Notifications to your website visitor. When the visitor clicks “Allow”, 
                        they’ll become your mobile website subscriber. Get subscribers without asking for Email ID and 
                        other details.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send your first notification</h4>
                    <p>
                        You’re set to send your first mobile Push Notification to users. Access your EngageTo dashboard, 
                        compose the title and the message of your Push Notification, and click 'Send'. There goes your 
                        first Push Notification.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/first-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/mobile-android-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Victory!</h4>
                    <p>
                        Your subscribers can now view your push message on their Android devices. Keep track of your 
                        push notifications through your EngageTo dashboard. See the number of clicks on your push 
                        notifications and other metrics, optimise and do even better!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper business-needs-wrapper">
    <div class="container">
        <h3 class="text-center">Benefits of Using Android Push Notifications</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Increase Conversion</h4>
                    <p>
                        EngageTo API helps you identify segments and target your visitors based on various factors. 
                        Customize your notifications according to their online behaviour, site visit frequency, time 
                        spent on the page and interests.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>More Traffic</h4>
                    <p>
                        EngageTo lets you send instant Push Notifications to your users' android devices. With wider 
                        reach, clicks increase and your traffic escalates! Optimise and keep sending, and both your 
                        subscribers list and traffic will increase.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Handle Bounce Rate like a Boss</h4>
                    <p>
                        Pushing useful notifications holds users’ attention and keeps them engaged. Send relevant 
                        messages, landing them to the pages that would keep them hooked. This helps you gain new 
                        customers and keep the old ones delighted.
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="btn browser-page-custom-btn btn-learn-more">LEARN MORE</button>
    </div>
</div>
<div class="custom-browser-wrapper api-wrapper">
    <div class="container">
        <h3 class="text-center">Powerful API</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/api.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <p>
                        The EngageTo API empowers sending handpicked notifications to users based on what delights them. 
                        You’ll also be the king of your subscriber list.
                    </p>
                    <p>Why EngageTo API is In-Demand:</p>
                    <ul>
                        <li>Be the master of customized Push Notifications</li>
                        <li>Own your subscriber data by transferring from EngageTo to your Google Analytics account</li>
                        <li>
                            State-of-the-art customer segmentation based on customer interests, geography and much more!
                        </li>
                    </ul>
                    <p>
                        Take ownership of your subscriber list by checking out: 
                        <a href="javascript:void(0);">The importance of having your own FCM keys.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper works-on-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/chrome.png" alt=""/>
                    Chrome for Web
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/android.png" alt=""/>
                    Chrome for Android
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/firefox.png" alt=""/>
                    Firefox for Web
                </a>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper free-trial-wrapper text-center">
    <h3>Start your 14 day Free Trial today</h3>
    <button type="button" class="btn browser-page-custom-btn btn-get-started">GET STARTED</button>
</div>