<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">Chrome Push Notifications</h1>
        <p>Increase your website CTR with Chrome browser push alerts</p>
        <button type="button" class="btn custom-banner-btn">SIGN UP FOR FREE TRIAL</button>
    </div>
</div>

<div class="custom-browser-wrapper about-notification-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/chrome-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send Chrome Push Notifications to desktops and mobiles in less than 5 minutes!</h4>
                    <p>
                        Send real-time Push Notifications to the users Chrome web and mobile browser and actively 
                        engage your audience. Chrome, being the most popular web browser, becomes the most effective 
                        way to send notifications to different devices. What more, they need not even be on your 
                        website, they just have to be active on their browser to receive instant notifications.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper choose-browser-push-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Why choose EngageTo Chrome Push Notifications</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Personalization</h4>
                    <p>
                        Customize your messages and push them to the right audience based on their interests/actions. 
                        Send clickable Push Notifications to redirect the users directly to any URL on your website.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Without Mobile App</h4>
                    <p>
                        Push Notifications work on all devices that use Chrome. Now you can build an audience through your mobile website without building a mobile app.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Schedule Notifications</h4>
                    <p>
                        Why worry about sending notifications in real-time when you can schedule them for a later time and date? Save time spent on manually sending notifications.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Multi Website and Multi-user</h4>
                    <p>
                        Why create different accounts for your multiple websites? Add all your websites in one account and start sending notifications. Collaborate with your teammates.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Preview Notifications</h4>
                    <p>
                        Evaluate the impact of your notifications before you push them out. See how they look in your browser. Send it out to your subscribers only when you are satisfied.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Easy to Setup</h4>
                    <p>
                        Set up your account in no time and start sending notifications in less than 5 minutes. Implement Browser Push Notifications and interact with your users all in real-time.
                    </p>
                </div>
            </div>
            <button class="btn browser-page-custom-btn btn-try">TRY BEFORE YOU BUY</button>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper enable-notification-wrapper">
    <div class="container">
        <h3 class="text-center">How to Enable Chrome Notifications for Desktop and Mobile</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Insert your Smart Code</h4>
                    <p>
                        The moment you create your free EngageTo account, you’ll receive a Smart Code. Place it before 
                        the closing &lt;/head&gt; tag on your website page.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/smart-code.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/opt-in.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Opt-in activation</h4>
                    <p>
                        When a visitor lands on your website, they receive an opt-in box asking for permission to send 
                        Push Notifications on their Chrome browser. When the visitor clicks on “Allow”, he/she will be 
                        added to your subscriber list. You skip the tedious task of asking for email address or other 
                        details.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send your first notification</h4>
                    <p>
                        You’re now set to send your very first EngageTo Push Notification. Just log in to your EngageTo 
                        dashboard, compose a title and message for the Push Notification and you're ready to send!
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/first-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/real-time-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>And that's done!</h4>
                    <p>
                        Once you click on send, your visitors will see your notification in real time. You can track 
                        your Push Notifications on your EngageTo dashboard. You can also track the number of clicks on 
                        your notifications and other metrics.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper business-needs-wrapper">
    <div class="container">
        <h3 class="text-center">Why Your Business Needs Chrome Push Notifications</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Wider reach</h4>
                    <p>
                        Chrome is the dominant browser throughout the world on different platforms. With its mass usage, 
                        implementing Chrome Push Notifications will help you reach a wider audience base.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Easier Opt-in</h4>
                    <p>
                        Chrome makes it easier for your subscribers to receive Push Notifications through your website. 
                        EngageTo has a great user experience and seamless compatibility with the Chrome browser.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Re-engage and retain</h4>
                    <p>
                        Re-engage with, and retain old customer relationships through Desktop Notifications. Send 
                        relevant and meaningful updates, deals, and other content.
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="btn browser-page-custom-btn btn-learn-more">LEARN MORE</button>
    </div>
</div>
<div class="custom-browser-wrapper api-wrapper">
    <div class="container">
        <h3 class="text-center">Powerful API</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/api.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <p>
                        EngageTo's API gives you the power to send relevant and targeted notifications based on user 
                        interests and behaviour. It also gives you control over your subscriber list. You can use the 
                        API to
                    </p>
                    <ul>
                        <li>Send personalized push notifications</li>
                        <li>Push subscriber data from EngageTo to your Google Analytics account</li>
                        <li>
                            Segment your subscribers based on different parameters like interests, online behaviour, 
                            location and more!
                        </li>
                    </ul>
                    <p>
                        To know more about how to get control over your subscriber list, you can check: 
                        <a href="javascript:void(0);">The importance of having your own FCM keys.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper works-on-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/chrome.png" alt=""/>
                    Chrome for Web
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/android.png" alt=""/>
                    Chrome for Android
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/firefox.png" alt=""/>
                    Firefox for Web
                </a>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper free-trial-wrapper text-center">
    <h3>Start your 14 day Free Trial today</h3>
    <button type="button" class="btn browser-page-custom-btn btn-get-started">GET STARTED</button>
</div>