<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">Features</h1>
        <p>Some compelling features of EngageTo</p>
    </div>
</div>

<div class="features-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/easy-setup.svg"/>
                    <p class="feature-head">Easy Setup</p>
                    <p class="feature-content">
                        Just copy paste the smart code in your website & you're ready to collect subscribers.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/http-https.svg"/>
                    <p class="feature-head">Works on HTTP & HTTPS</p>
                    <p class="feature-content">Whether your website is HTTP or HTTPS we got you covered.</p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/schedule-notification.svg"/>
                    <p class="feature-head">Schedule Notifications</p>
                    <p class="feature-content">
                        You can schedule notification to be sent on specific date, time and even timezone.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/ab-test.svg"/>
                    <p class="feature-head">AB Test Notifications</p>
                    <p class="feature-content">
                        Create multiple variations of your notification, we'll send high performing notification.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="app/assets/images/features-1.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="app/assets/images/features-2.png"/>
            </div>
            <div class="col-sm-6">
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/welcome-notification.svg"/>
                    <p class="feature-head">Welcome Notifications</p>
                    <p class="feature-content">
                        All your subscribers are not same. Welcome different subscribers according to their language, 
                        country, city, etc.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/advanced-segmentation.svg"/>
                    <p class="feature-head">Advanced Segmentation</p>
                    <p class="feature-content">
                        Segment your subscribers according to theri behavioural data such as country, city, timezone, 
                        language, etc.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/emoji.svg"/>
                    <p class="feature-head">Personalise with Emoji</p>
                    <p class="feature-content">
                        Emojis are best way to show emotions. Personalise notifications with Emojis, Buttons(CTA's) & 
                        images.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/opt-ins.svg"/>
                    <p class="feature-head">Multiple Opt-ins</p>
                    <p class="feature-content">
                        You can choose from multiple opt-in types according to your need. Also single step opt-in is 
                        available.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/rss.svg"/>
                    <p class="feature-head">RSS to Push</p>
                    <p class="feature-content">
                        You can add RSS feed of your website and notification will be scheduled automatically but 
                        you'll have complete control.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/cms.svg"/>
                    <p class="feature-head">CMS Integrations</p>
                    <p class="feature-content">
                        You can also use our wordpress & Joomla plugins for quick integration.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/websites.svg"/>
                    <p class="feature-head">Unlimited Websites</p>
                    <p class="feature-content">
                        Our all paid plans comes with unlimited websites. You can add and setup multiple domain under 
                        one account.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/team-members.svg"/>
                    <p class="feature-head">Unlimited Team Members</p>
                    <p class="feature-content">
                        Our all paid plans comes with unlimited team members. You can give them role based access to 
                        your websites.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="app/assets/images/features-3.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="app/assets/images/features-4.png"/>
            </div>
            <div class="col-sm-6">
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/reports.svg"/>
                    <p class="feature-head">In Detail Reports</p>
                    <p class="feature-content">
                        You can see in details reports of your notification campaign performance. You can also 
                        schedule.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/api.svg"/>
                    <p class="feature-head">Powerful API</p>
                    <p class="feature-content">
                        You can use our Javascript and REST API for more implementation. They're powerful and secure.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/security.svg"/>
                    <p class="feature-head">Advanced Security</p>
                    <p class="feature-content">
                        We run on Amazon AWS cloud & your data is protected and secured with our best algorithms.
                    </p>
                </div>
                <div class="features-option-wrapper">
                    <img class="img-responsive" src="app/assets/images/feature/support.svg"/>
                    <p class="feature-head">World Class Support</p>
                    <p class="feature-content">
                        You'll get world class support from intentpush. If you're facing dificulty, we're ready to 
                        serve you on skype or teamviewer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>