<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">Firefox Push Notifications</h1>
        <p>Pull in more traffic to your website on Firefox Browser</p>
        <button type="button" class="btn custom-banner-btn">SIGN UP FOR FREE TRIAL</button>
    </div>
</div>

<div class="custom-browser-wrapper about-notification-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/firefox-browser-push-notifications.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send Push Notifications to users' desktops and mobile on Firefox Browser</h4>
                    <p>
                        Keep your visitors hooked and returning to your website with Push Notifications for Firefox 
                        browser. Through real-time, crisp, relevant messages that are triggered to their desktops and 
                        mobiles even when they aren’t on your website. This can be anything from your new blog post to 
                        an exciting offer, or an upcoming event. With EngageTo, you can get more traffic to your website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper choose-browser-push-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Why Use EngageTo’s Firefox Web Push Notifications</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Tailor-made communication</h4>
                    <p>
                        Grab users’ attention with personalized Firefox browser Push Notifications. Compose unique 
                        messages your customers will love, and lead them back to your website.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Get Mobile users hooked!</h4>
                    <p>
                        Get your mobile users hooked to your site by sending them Push Notifications from your website 
                        directly to their Android phone. Even without having a mobile app.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Schedule Notifications</h4>
                    <p>
                        Sending manual notifications across the globe is consuming all your time and giving you 
                        sleepless nights? Fret not, just schedule your notifications for a later date and time.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Build Stronger User Base</h4>
                    <p>
                        With EngageTo push messages, you can build a stronger visitor base using Firefox Push 
                        Notifications. Don’t worry anymore about users missing out on important communication.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Preview Notifications</h4>
                    <p>
                        Worried about how your notifications will look? Relax. EngageTo Preview Notifications feature 
                        lets you have a quick glance and perfect your notifications before you send them out.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Quick Installation</h4>
                    <p>
                        No time-consuming steps to follow, as the installation is very simple and will take you less 
                        than five minutes! You’ll be ready to send your first push messages right away.
                    </p>
                </div>
            </div>
            <button class="btn browser-page-custom-btn btn-try">TRY BEFORE YOU BUY</button>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper enable-notification-wrapper">
    <div class="container">
        <h3 class="text-center">How do Firefox Web Desktop Notifications Work?</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Insert your Smart Code</h4>
                    <p>
                        You’ll get a Smart Code immediately after creating your free EngageTo account. Place this Smart 
                        Code before the closing &lt;/head&gt; tag on your web page.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/smart-code.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/firefox-browser-opt-in.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Enable Opt-in</h4>
                    <p>
                        An opt-in box appears when a visitor opens your website. It asks for permission to send Push 
                        Notifications to the visitors' Firefox browser. The moment the visitor clicks “Allow”, they get 
                        added to your subscriber list. No email ID or other personal details required. Simple and 
                        efficient.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Set up to send your first notification</h4>
                    <p>
                        You’re now ready to send your first Push Notification to your users. Open your EngageTo 
                        dashboard, write the title and the message you want your users to receive from your website. 
                        Hit Send! Sit back and wait for the push notification to work its magic.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/first-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/firefox-subscribers-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Ta-da!</h4>
                    <p>
                        Your subscribers can now view your Push Notifications. You can keep a tab on your notifications 
                        through your EngageTo dashboard. The dashboard also lets you view the number of clicks on your 
                        Push Notifications and other analyzed data. Yup, you’ve found your unicorn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper business-needs-wrapper">
    <div class="container">
        <h3 class="text-center">How EngageTo Firefox Push Notifications Help your Business</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Increase Conversion Rate</h4>
                    <p>
                        Desktop and mobile browser Push Notifications increase CTRs significantly in comparison to 
                        email campaigns. Get more responses and increase your website conversion rate.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Wider Online Visibility</h4>
                    <p>
                        Push Notifications enable you to send instant customized messages to your subscribers. Grab 
                        their attention with relevant messages and land them on your web page.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Engross and Retain customers</h4>
                    <p>
                        Push Notifications keep your customers engaged with your deals and offers, prompting them to 
                        return to your website. This is the smartest way to sustain users’ interest in your offering.
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="btn browser-page-custom-btn btn-learn-more">LEARN MORE</button>
    </div>
</div>
<div class="custom-browser-wrapper api-wrapper">
    <div class="container">
        <h3 class="text-center">Robust API</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/api.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <p>
                        EngageTo's API gives you the power to send earmarked notifications to users based on their 
                        interests. You’ll also be in command of your subscriber list.
                    </p>
                    <p>Benefit of EngageTo's awesome API:</p>
                    <ul>
                        <li>Power to send customized push notifications</li>
                        <li>Send subscriber data from EngageTo to your Google Analytics account</li>
                        <li>
                            Target and segment your subscriber base using variables like interests, geo-targeting and a 
                            whole lot more!
                        </li>
                    </ul>
                    <p>
                        To know more about how to get control over your subscriber list, you can check: 
                        <a href="javascript:void(0);">The importance of having your own FCM keys.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper works-on-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/chrome.png" alt=""/>
                    Chrome for Web
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/android.png" alt=""/>
                    Chrome for Android
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/firefox.png" alt=""/>
                    Firefox for Web
                </a>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper free-trial-wrapper text-center">
    <h3>Start your 14 day Free Trial today</h3>
    <button type="button" class="btn browser-page-custom-btn btn-get-started">GET STARTED</button>
</div>