<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">Push Notifications Plugin for Joomla</h1>
        <p>Increase your online traffic 3x with the Joomla Push Notifications plugin</p>
        <button type="button" class="btn custom-banner-btn">SIGN UP FOR FREE TRIAL</button>
    </div>
</div>
<div class="custom-browser-wrapper about-notification-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/firefox-browser-push-notifications.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send Push Notifications from your Joomla website to users’ mobile and web browsers</h4>
                    <p>
                        Is your website on Joomla? EngageTo can help you crack the way to a higher subscriber rate, and 
                        more returning visitors. Take your customer communications several notches higher at one go, all 
                        of it without the need for any extra expertise at all. With EngageTo’s plug-and-play Joomla 
                        plugin for Push Notifications, increasing return visitor numbers and audience engagement is 
                        child’s play, really.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper choose-browser-push-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Why EngageTo Push Notifications For Joomla</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Personalize and Automate</h4>
                    <p>
                        Make your subscribers feel cared for by sending them succinct personalized notifications based 
                        on their interests. Schedule your notifications for a later date and time and as per your 
                        audience time zones.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Track User Response</h4>
                    <p>
                        Track and measure user engagement by using EngageTo dashboard for important user analysis and 
                        other metrics. This will give you deeper, actionable insights on your push messaging strategy.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Incredibly easy installation</h4>
                    <p>
                        EngageTo’s uber-cool Push Notifications platform is absolutely easy to set up and is good to go 
                        in no time. Follow the simple steps to start using EngageTo and you can be done in less than 5 
                        minutes.
                    </p>
                </div>
            </div>
            <button class="btn browser-page-custom-btn btn-try">TRY BEFORE YOU BUY</button>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper enable-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Check Out How Push Notifications For Joomla Work</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Get your Account ID by creating Your Free EngageTo account</h4>
                    <p>
                        Create your Free EngageTo Account and go to your dashboard. On the left side of the panel, 
                        click on “Account Details”. This will display your Account ID.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/free-account.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/plugin-wordpress-dashboard.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Add the EngageTo plugin to your Joomla dashboard</h4>
                    <p>
                        Log in to your Joomla admin dashboard, and click on “Manage”, under “Extensions”. Now, search 
                        for EngageTo in the "Install from Web" search bar, select the plugin and click on Install.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Initiate plugin and put your Account ID</h4>
                    <p>
                        Activate the plugin post installing the EngageTo plugin. For this, head to Extensions, then 
                        Plugins and search for 'EngageTo'. Select the plugin and change status to 'Enabled'. Now type 
                        your Account ID (see Step 1). Lastly, click Save & then Close.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/account-id.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/firefox-browser-opt-in.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Get high on increasing click-rate!</h4>
                    <p>
                        The moment a visitor lands on your website, an opt-in box will pop, asking the visitor to 
                        subscribe to Push Notifications from your website. If the visitor clicks on “Allow”, they are 
                        added to your subscriber list. You’ll see the jump in subscriber count on the EngageTo dashboard.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>You’ve done it! *Drum-roll*</h4>
                    <p>
                        Congratulations! You're set to send your first Push Notification. Your subscribers will see the 
                        push notification in real time. Track push notification deliveries, click rate and other 
                        metrics on your dashboard.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/firefox-subscribers-notification.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper business-needs-wrapper">
    <div class="container">
        <h3 class="text-center">How EngageTo Push Notifications Power Your Website</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Move over, email marketing</h4>
                    <p>
                        Conversion rate of Push Notifications is above 25% as compared to emails. Sending real-time 
                        updates of a trending offer or a post is far more effective than sending boring emails.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Mobile App? Nah!</h4>
                    <p>
                        Why blow money on building a mobile app when you can send app-like notifications on the go, in 
                        real-time? Joomla Push Notifications work on mobile web browsers too!
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Awe new and old users</h4>
                    <p>
                        Amaze your subscribers by sending Push Notifications that will keep them engrossed on your 
                        website with new and old posts, great deals, breaking news and much more!
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="btn browser-page-custom-btn btn-learn-more">LEARN MORE</button>
    </div>
</div>
<div class="custom-browser-wrapper works-on-wrapper works-on-wordpress">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/chrome.png" alt=""/>
                    Chrome for Web
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/android.png" alt=""/>
                    Chrome for Android
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/firefox.png" alt=""/>
                    Firefox for Web
                </a>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper free-trial-wrapper free-trial-wordpress text-center">
    <h3>Start your 14 day Free Trial today</h3>
    <button type="button" class="btn browser-page-custom-btn btn-get-started">GET STARTED</button>
</div>