<div class="custom-banner-area text-center privacy-banner-area">
    <div class="container">
        <h1 class="custom-head privacy-policy-head">Privacy Policy</h1>
    </div>
</div>
<div class="privacy-policy-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="custom-policy-wrapper">
                    <h3>1. WEBSITE VISITORS</h3>
                    <p>
                        Like most website operators, engageto collects non-personally-identifying information of the sort 
                        that web browsers and servers typically make available, such as the browser type, language 
                        preference, referring site, and the date and time of each visitor request, Country, City etc. 
                        Engageto’s purpose in collecting non-personally identifying information is to better understand how 
                        engageto’s visitors use its website & also to provide our customer better service.
                    </p>
                    <p>
                        Engageto also collects potentially personally-identifying information like Internet Protocol (IP) 
                        addresses for logged in users and for users leaving comments on our blogs. Engageto only discloses 
                        logged in user and commenter IP addresses under the same circumstances that it uses and discloses 
                        personally-identifying information as described below, except that blog commenter IP addresses are 
                        visible and disclosed to the administrators of the blog where the comment was left.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>2. GATHERING OF PERSONALLY-IDENTIFYING INFORMATION</h3>
                    <p>
                        Certain visitors to engageto’s websites choose to interact with engageto in ways that require 
                        engageto to gather personally-identifying information. The amount and type of information that 
                        engageto gathers depends on the nature of the interaction. For example, we ask visitors who comment 
                        on our blog to provide a username and email address. Those who wish to receive Intentpush updates 
                        via email, we collect their emails. For example, when you to sign up for an account, we ask for 
                        personal information, like your name, email address, or credit card to store with your account. When 
                        visitors comment on our blog, we ask them to provide a username and email address. For those who 
                        wish to receive Intentpush updates via email, we collect their emails.
                    </p>
                    <p>
                        In each case, engageto collects such information only in so far as is necessary or appropriate to 
                        fulfil the purpose of the visitor’s interaction with engageto. Engageto does not disclose 
                        personally-identifying information other than as described below. And visitors can always refuse to 
                        supply personally-identifying information, with the caveat that it may prevent them from engaging 
                        in certain website-related activities.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>3. INFORMATION WE SHARE</h3>
                    <p>
                        Engageto discloses potentially personally-identifying and personally-identifying information only 
                        to those of its employees, contractors and affiliated organizations that (i) need to know that 
                        information in order to process it on engageto’s behalf or to provide services available at 
                        engageto’s websites, and (ii) that have agreed not to disclose it to others. Some of those 
                        employees, contractors and affiliated organizations may be located outside of your home country; by 
                        using engageto’s websites, you consent to the transfer of such information to them.
                    </p>
                    <p>
                        Engageto will not rent or sell potentially personally-identifying and personally-identifying
                        information to anyone.
                    </p>
                    <p>
                        Other than to its employees, contractors and affiliated organizations, as described above, 
                        engageto discloses potentially personally-identifying and personally-identifying information only 
                        in response to a subpoena, court order or other governmental request, or when engageto believes in 
                        good faith that disclosure is reasonably necessary to protect the property or rights of engageto, 
                        third parties or the public at large.
                    </p>
                    <p>
                        If you are a registered user of an engageto website services and have supplied your email address, 
                        engageto may occasionally send you an email to tell you about new features, solicit your feedback, 
                        or just keep you up to date with what’s going on with engageto and our products. We primarily use 
                        our various product blogs to communicate this type of information, so we expect to keep this type 
                        of email to a minimum.
                    </p>
                    <p>
                        If you send us a request (for example via a support email or via one of our feedback mechanisms), 
                        we reserve the right to publish it in order to help us clarify or respond to your request or to 
                        help us support other users.
                    </p>
                    <p>
                        Engageto takes all measures reasonably necessary to protect against the unauthorised access, use, 
                        alteration or destruction of potentially personally-identifying and personally-identifying 
                        information, as discussed below.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>4. INFORMATION SECURITY</h3>
                    <p>
                        We work hard to protect our users from unauthorized access to or unauthorized alteration, disclosure, 
                        or destruction of information we hold, in particular:
                    </p>
                    <p>
                        We encrypt all of our services using SSL.
                    </p>
                    <p>
                        We review our information collection, storage, and processing procedures, including physical security 
                        measures, to guard against unauthorized access to systems.
                    </p>
                    <p>
                        We restrict access to personal information to engageto employees, contractors, and agents who need to 
                        know that information in order to process it for us, and who are subject to strict contractual 
                        confidentiality obligations and may be disciplined or terminated if they fail to meet these 
                        obligations.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>5. COOKIES</h3>
                    <p>
                        A cookie is a string of information that a website stores on a visitor’s computer, and that the 
                        visitor’s browser provides to the website each time the visitor returns. Engageto uses cookies to help 
                        engageto identify and track visitors & also push subscribers, their usage of engageto website, and 
                        their website access preferences. Engageto website visitors who do not wish to have cookies placed on 
                        their computers should set their browsers to refuse cookies before using engageto’s websites, with the 
                        drawback that certain features of engageto’s websites may not function properly without the aid of 
                        cookies.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>6. BUSINESS TRANSFERS</h3>
                    <p>
                        If engageto, or substantially all of its assets were acquired, or in the unlikely event that 
                        engageto goes out of business or enters bankruptcy, user information would be one of the assets 
                        that is transferred or acquired by a third party. You acknowledge that such transfers may occur, 
                        and that any acquirer of engageto may continue to use your personal information as set forth in 
                        this policy.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>7. GOOGLE ANALYTICS</h3>
                    <p>
                        Engageto internet products uses Google Analytics in its application. Campaign analytics are tracked 
                        through Google Analytics for our clients. Engageto utilizes the Google Analytics Reporting API to 
                        gather analytics about your campaigns and present them in an actionable way via charts and 
                        conversion statistics. Engageto discloses client Google Analytics information only to those of its 
                        employees, contractors and affiliated organizations that (i) need to know that information in order 
                        to process it on engageto’s behalf or to provide the services available at engageto’s internet 
                        products websites.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>8. WHEN THIS PRIVACY POLICY APPLIES</h3>
                    <p>
                        Our Privacy Policy applies to all of the services offered by engageto and its affiliates, including 
                        services engageto provides on mobile devices, and services offered on other sites, but excludes 
                        services that have separate privacy policies that do not incorporate this Privacy Policy.
                    </p>
                    <p>
                        Our Privacy Policy does not apply to services offered by other companies or individuals, including 
                        other sites linked to our services. Our Privacy Policy does not cover the information practices of 
                        other companies and organizations who advertise our services, and who may use cookies, pixel tags, 
                        and other technologies to serve and offer relevant ads.
                    </p>
                    <p></p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>9. COMPLIANCE AND COOPERATION WITH REGULATORY AUTHORITIES</h3>
                    <p>
                        We regularly review our compliance with our Privacy Policy. We also adhere to several 
                        self-regulatory frameworks. When we receive formal written complaints, we will contact the person 
                        who made the complaint to follow up. We work with the appropriate regulatory authorities, including 
                        local data protection authorities, to resolve any complaints regarding the transfer of personal 
                        data that we cannot resolve with our users directly.
                    </p>
                </div>
                <div class="custom-policy-wrapper">
                    <h3>10. PRIVACY POLICY CHANGES</h3>
                    <p>
                        Although most changes are likely to be minor, engageto may change its Privacy Policy from time to 
                        time, and in engageto’s sole discretion. Engageto encourages visitors to frequently check this page 
                        for any changes to its Privacy Policy. Your continued use of this site after any change in this 
                        Privacy Policy will constitute your acceptance of such change.
                    </p>
                    <p>
                        If you’ve any question regarding our privacy policy contact us at <a href="mailto:support@engageto.com">support@engageto.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>