<div class="login-module-container">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper clearfix">
        <h3 class="text-center login-module-header">Create your account</h3>
        <form class="login-module-form" name="engagetoForm" id="engagetoForm" ng-submit="register.signup()" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" ng-class="{ 'error-field': engagetoForm.email.$touched && engagetoForm.email.$invalid && visitedEmail}" ng-blur="visitedEmail = true" ng-focus="visitedEmail = false" id="email" name="email" ng-model="register.engageto.email" placeholder="Email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
                <span class="error" ng-show="engagetoForm.email.$touched && engagetoForm.email.$invalid && visitedEmail">
                    <!--<span ng-show="engagetoForm.email.$error.required">Email id required</span>-->
                    <span ng-show="!engagetoForm.email.$error.required && engagetoForm.email.$error.pattern">Enter valid email address.</span>
                </span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-class="{ 'error-field': engagetoForm.websiteURL.$touched && engagetoForm.websiteURL.$invalid && visitedUrl}"ng-blur="visitedUrl = true" ng-focus="visitedUrl = false" id="websiteURL" name="websiteURL" ng-model="register.engageto.webSiteUrl" placeholder="https://" ng-pattern="/^(http[s]?:\/\/www\.|HTTP[S]?:\/\/WWW\.|http[s]?:\/\/|HTTP[S]?:\/\/|www\.|WWW\.|[A-Za-z]{0})[A-Za-z0-9]+([\-\.]{1}[A-Za-z0-9]+)*\.[A-Za-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" required/>
                <span class="error" ng-show="engagetoForm.websiteURL.$touched && engagetoForm.websiteURL.$invalid && visitedUrl">
                    <!--<span ng-show="engagetoForm.websiteURL.$error.required">Website Url is required</span>-->
                    <span ng-show="engagetoForm.websiteURL.$error.pattern">Please enter valid website url</span>
                </span>
            </div>
            <div class="form-group custom-check">
                <label class="checkbox-inline">
                    <input type="checkbox" name="sort" ng-model="register.engageto.isTermAndConditionChecked"/>
                    <span>
                        <i class="fa fa-check"></i>
                    </span> I agree to the <a href ui-sref="termAndCondition" class="terms-condition-text" target="_blank">terms & conditions.</a>
                </label>
            </div>
            <button type="submit" class="btn btn-login-module" ng-disabled="engagetoForm.$invalid || engagetoApp.isLoading || !register.engageto.isTermAndConditionChecked">Signup
                <engageto-loader-image ng-if="engagetoApp.isLoading"></engageto-loader-image>
            </button>
        </form>
        <p class="already-register-text text-center">Already registered? <a href ui-sref="signin">Login</a></p>
    </div>
</div>
