<div class="login-module-container">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <h3 class="text-center login-module-header">Reset your password</h3>
        <form class="login-module-form" name="resetPasswordModalForm" ng-submit="resendResetPasswordLink()">
            <div class="form-group">
                <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                <input type="email" id="email" name="email" ng-model="resetPassword.email" class="form-control" placeholder="Enter your email" ng-class="{ 'error-field': resetPasswordModalForm.email.$touched && resetPasswordModalForm.email.$invalid && visitedEmail}" ng-blur="visitedEmail = true" ng-focus="visitedEmail = false" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
                <span class="error" ng-show="resetPasswordModalForm.email.$touched && resetPasswordModalForm.email.$invalid && visitedEmail">
                    <!--<span ng-show="resetPasswordModalForm.email.$error.required">Email id required</span>-->
                    <span ng-show="!resetPasswordModalForm.email.$error.required && resetPasswordModalForm.email.$error.pattern">Enter valid email address.</span>
                </span>
            </div>
            <button type="submit" class="btn btn-login-module" ng-disabled="resetPasswordModalForm.$invalid || engagetoApp.isLoading">Send mail
                <engageto-loader-image ng-if="engagetoApp.isLoading"></engageto-loader-image>
            </button>
        </form>
        <a href ui-sref="newActivationRequest" class="bottom-left-text">Resend activation link</a>
        <a href ui-sref="signin" class="bottom-right-text signin-link">Sign In</a>
    </div>
</div>
