<div class="login-module-container" ng-show="!resetPassword.hideForm">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper clearfix">
        <h3 class="text-center login-module-header" ng-hide="resetPassword.hideForm">Reset Password</h3>
        <form class="login-module-form" name="resetPasswordForm" ng-submit="resettingPassword()" ng-hide="resetPassword.hideForm">
            <div class="form-group">
                <!--<i class="fa fa-lock" aria-hidden="true"></i>-->
                <input type="password" class="form-control input-password" ng-class="{ 'error-field': (resetPasswordForm.rePassword.$dirty && resetPasswordForm.rePassword.$error.required && visitedPwd) || (!resetPassword.validPassword && visitedPwd)}" ng-blur="visitedPwd = true;
                                resetPassword.enteringPassword = !resetPassword.enteringPassword;" ng-focus="visitedPwd = false;
                                        resetPassword.enteringPassword = !resetPassword.enteringPassword;" id="rePassword" name="rePassword" ng-model="resetPassword.password" placeholder="Enter new password" required uib-tooltip="1.One lowercase character 2.One uppercase character 3.One special symbol 4.One numeric character 5.Minimum nine characters" tooltip-placement="top" tooltip-trigger="'focus'"/>
                <ul id="strength" password-checker-directive="resetPassword.password"></ul>
                <span class="error" style="color: red;" ng-show="!resetPassword.validPassword && !resetPasswordForm.rePassword.$error.required">Please use a strong password.</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-class="{ 'error-field': (resetPasswordForm.confirmSetPassword.$dirty && resetPasswordForm.confirmSetPassword.$error.required && visitedConfirmPwd) || (resetPassword.isMatch && visitedConfirmPwd) }" ng-blur="visitedConfirmPwd = true" ng-focus="visitedConfirmPwd = false" id="confirmSetPassword" name="confirmSetPassword" ng-model="resetPassword.confirmPassword" placeholder="Confirm password" required/>
                <span class="error">
                    <span ng-show="!resetPasswordForm.confirmSetPassword.$error.required && resetPassword.isMatch && visitedConfirmPwd">Password do not match!</span>
                </span>
            </div>
            <button type="submit" class="btn btn-login-module" ng-disabled="resetPasswordForm.$invalid || !resetPassword.validPassword || resetPassword.isMatch || engagetoApp.isLoading">Reset
                <engageto-loader-image ng-if="engagetoApp.isLoading"></engageto-loader-image>
            </button>
        </form>
    </div>
</div>
<div class="login-module-container" ng-show="resetPassword.showResetDiv">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <p class="information-text">Reset Password link has been expired
            <a href class="login-module-blue-text margin-0" ng-click="resetPwdLink()">click here</a> to request new link
        </p>
    </div>
</div>
<div ng-show="resetPassword.showLogin" class="login-module-container">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <p class="information-text">Password has been reset successfully. <a href ui-sref="signin">Click here</a> to Login.</p>
    </div>
</div>
<div ng-show="setPassword.showRequestDiv" class="login-module-container">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <p class="information-text">Your account is not activated
            <a href ng-click="requestNewLink()">Click here</a> to resend activation link.
        </p>
    </div>
</div> 