<div class="login-module-container" ng-if="!setPassword.hideForm">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper clearfix">
        <h3 class="text-center login-module-header">Activate your account</h3>
        <!--<div ng-if="setPassword.showLogin" class="alert alert-success alert-dismissible" role="alert">-->
        <div ng-if="setPassword.showLogin" class="alert alert-success" role="alert">
            <span>Password has been set and account was activated.
                <a href ui-sref="signin">Click here</a> to Sign In.
            </span>
        </div>
        <form class="login-module-form" name="setPasswordForm" ng-submit="settingPassword()">
            <div class="form-group">
                <input type="password" id="setPassword" name="setPassword" ng-model="setPassword.password" class="form-control input-password" ng-class="{ 'error-field': (setPasswordForm.setPassword.$dirty && setPasswordForm.setPassword.$error.required && visitedPwd) || (!setPassword.validPassword && visitedPwd) }" ng-blur="visitedPwd = true;
                                setPassword.enteringPassword = !setPassword.enteringPassword;" ng-focus="visitedPwd = false;
                                        setPassword.enteringPassword = !setPassword.enteringPassword;" placeholder="Password" required uib-tooltip="1.One lowercase character 2.One uppercase character 3.One special symbol 4.One numeric character 5.Minimum nine characters" tooltip-placement="top" tooltip-trigger="'focus'"/>
                <ul id="strength" set-password-checker-directive="setPassword.password"></ul>
                <span class="error" style="color: red;" ng-show="!setPassword.validPassword && !setPasswordForm.setPassword.$error.required">Please use a strong password.</span>
            </div>
            <div class="form-group">
                <input type="password" id="confirmSetPassword" name="confirmSetPassword" ng-model="setPassword.confirmPassword" class="form-control" ng-class="{ 'error-field': (setPasswordForm.confirmSetPassword.$dirty && setPasswordForm.confirmSetPassword.$error.required && visitedConfirmPwd) || (setPassword.isMatch && visitedConfirmPwd)}" ng-blur="visitedConfirmPwd = true" ng-focus="visitedConfirmPwd = false" placeholder="Confirm password" required/>
                <span class="error">
                    <span ng-show="!setPasswordForm.confirmSetPassword.$error.required && setPassword.isMatch && visitedConfirmPwd">Password do not match!</span>
                </span>
            </div>
            <button type="submit" class="btn btn-login-module" ng-disabled="setPasswordForm.$invalid || !setPassword.validPassword || setPassword.isMatch || engagetoApp.isLoading">Activate
                <engageto-loader-image ng-if="engagetoApp.isLoading"></engageto-loader-image>
            </button>
        </form>
    </div>
</div>
<div class="login-module-container" ng-if="setPassword.showRequestDiv">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <p class="information-text">Account activation link has been expired</p>
        <a href class="login-module-blue-text" ng-click="requestNewLink()">Request new account link</a>
    </div>
</div> 
<div class="login-module-container" ng-if="setPassword.showResetDiv">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <p class="information-text">You have already activated your account.</p>
        <p class="information-text">
            <a href ui-sref="signin">Sign In</a> or <a href ng-click="resetPwdLink()">Reset your password</a>
        </p>
    </div>
</div>
<div class="login-module-container" ng-if="setPassword.commonError">
    <a class="engageto-logo" href ui-sref="landing">
        <img class="img-responsive" src="app/assets/images/logo-white.png" alt=""/>
    </a>
    <div class="login-module-wrapper">
        <p class="activated-account-text">
            Click here to <a href ui-sref="signin">Sign In</a> or <a href="{{engagetoApp.baseUrl}}/pricing">Sign Up</a>
        </p>
    </div>
</div>
