<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">Terms & Conditions</h1>
        <i>Last Updated On: 1<sup>st</sup> January, 2017</i>
    </div>
</div>
<div class="terms-condition-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="custom-terms-wrapper">
                    <h3 id="ability-to-agreement">1. Ability to enter into this agreement </h3>
                    <p>
                        This Site and the Services are not designed for or directed at children 13 years of age or 
                        younger. In addition, in order to enter into this Agreement, you must be 18 years old or have 
                        otherwise reached the legal age of majority in your jurisdiction of residence or possess legal 
                        parental or guardian consent, and are fully able and competent to enter into the terms, 
                        conditions, obligations, affirmations, representations and warranties set forth in this Agreement, 
                        and to abide by and comply with this Agreement. It is your responsibility to ensure that you are 
                        legally eligible to enter into this Agreement under any laws applicable to you in your 
                        jurisdiction of residence or otherwise. If you accept this Agreement, you represent that you have 
                        the capacity to be bound by it.</p>
                    <p>
                        You may not use the Services and may not accept this Agreement if (a) you are not of legal age to 
                        form a binding contract with enagageto, or (b) you are a person barred from receiving the Services 
                        under the laws of an India or other countries including the country in which you are a resident 
                        or from which you use the Services.
                    </p>
                    <p>
                        Before you continue, you should print or save a local copy of this Agreement for your records.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="profile-info-account">2. Your profile information and account</h3>
                    <p>
                        In order to access certain Services, you may be required to provide information about yourself 
                        (such as API, identification or contact details) as part of the registration process for the 
                        Service or as part of your continued use of the Services. You may also have to create passwords 
                        or other forms of authentication. You agree to provide true, accurate, current and complete 
                        information about yourself, and you may not misrepresent your profile information. You agree and 
                        understand that you are responsible for maintaining the confidentiality of any such information 
                        or passwords. Accordingly, you agree that you will be solely responsible to engageto 
                        for all activities that occur under your account. If you become aware of any unauthorized use of 
                        your password or of your account, you agree to notify engageto immediately.
                    </p>
                    <p>
                        Your right to access and use the Services is personal to you and is not transferable by you to 
                        any other person or entity. You agree not to disclose your password to any third party. You are 
                        solely responsible for all activities that occur under your Account or under your Profile 
                        Information. If you become aware of any unauthorized use of your Account or Profile Information, 
                        you are responsible for notifying engageto immediately.
                    </p>
                    <p>
                        By providing us with your e-mail address, you agree to receive all required notices 
                        electronically to that e-mail address. It is your responsibility to update or change that email 
                        address, as appropriate.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="intenize-responsibilty-representation-warranty">3. EngageTo responsibilities, representation and warranties</h3>
                    <p>In the performance of Services, engageto, agrees to:</p>
                    <p>
                        Pserform the Services to the best of its ability and with the degree of care, diligence and
                        skill that a reasonably prudent person would exercise in comparable circumstances; liaise with 
                        Customer through Customer’s coordinator on matters related to the Services; notify Customer, 
                        whenever practicable, if expenses beyond the agreed charges may be incurred; invoice Customer 
                        according to the terms of this Agreement and the applicable Service Schedule for the Services 
                        performed; and Proceed according to Customer’s reasonable instructions for the disposition of 
                        Customer’s Data and supplies on the termination of any Service Schedule.
                    </p>
                    <p>Reasonable Attempts to Correct Errors on Notice:</p>
                    <p>
                        Engageto, warrants that it will at its expense make commercially reasonable attempts to 
                        correct any errors for which engageto, is directly and solely responsible by rerunning the 
                        Service, provided that the Data necessary to correct such errors is available to engageto, 
                        or at engageto, option provide a credit to Customer equivalent to the charge that would 
                        have been applicable for correcting that portion of the Service that is in error, such credit 
                        will be only for errors due solely to malfunction of a system or Software provided by engageto, 
                        or any error made by engageto, personnel in the performance of the Service. To obtain 
                        the rerun Service or the credit, Customer must notify engageto, in writing of such errors 
                        within thirty days of receipt of the Services believed to contain the errors.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="customer-responsiblity-representation-warranty">4. Customer's responsibilities, representations and warranties</h3>
                    <p>Customer agrees to:</p>
                    <p>
                        Provide all necessary Data and any special forms or other required materials or information to 
                        engageto on schedule or in a timely fashion to enable engageto to provide the Services; 
                        ensure the accuracy, legibility, and completeness of all Data supplied to engageto and be 
                        solely responsible for the results obtained from Customer’s use of any of the Services; liaise 
                        with engageto through a coordinator Customer will identify, on matters related to the 
                        Services and authorize that coordinator to make decisions on behalf of Customer in relation to the 
                        implementation of this Agreement and the Services and any changes thereto; comply with engageto 
                        security and operating procedures (as may be revised or amended by engageto from time 
                        to time) when Customer’s employees or agents are interfacing with engageto installed systems; 
                        control, and be responsible for the use of, account information, user ids and passwords related to 
                        the Services and, where required, when interfacing with engageto installed systems.
                    </p>
                    <p>Customer represents and warrants to engageto that:</p>
                    <p>
                        (a) the information Customer has provided for the purpose of establishing an account with 
                        engageto is accurate, and (b) Customer has complied with and will continue to comply with 
                        all applicable privacy laws and has obtained and will continue to obtain the requisite privacy 
                        consents in the collection and use of all information that may be collected on any website or 
                        maintained on any server hosted by engageto.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="free-trial">5. Free trial</h3>
                    <p>
                        If you register for a free trial of the Service, we will make the Service available to you on a 
                        trial basis free of charge until the earlier of (a) the end of the free trial period or (b) the
                        start date of your subscription. If we include additional terms and conditions on the trial
                        registration web page, those will apply as well. During the free trial period, (i) the Service
                        is provided “as is” and without warranty of any kind, (ii) we may suspend, limit, or terminate 
                        the Service for any reason at any time without notice, and (iii) we will not be liable to you 
                        for damages of any kind related to your use of the Service. Unless you subscribe to the Service 
                        before the end of the free trial, all of your data on the Service may be permanently deleted at 
                        the end of the trial, and we may not be able to recover it.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="restricted-websites">6. Restricted websites</h3>
                    <p>
                        Intentpush.com DOES NOT accept or allow the following types of sites to use our product for 
                        notification purposes: Adult content (porn, soft porn, sites with adult ad's), Pharmacy (Cheap 
                        drugs, Viagra, male/female enhancement, etc.), Hate, Link Farms or Spam Sites. If you sell any 
                        of these products and we find out, we will delete your account without hesitation.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>7. Term</h3>
                    <p>
                        The initial subscription term shall begin on the effective date of your Subscription and
                        expire at the end of the period selected during the subscription process.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="termination-customer">8. Termination by customer</h3>
                    <p>
                        Customer may terminate this Agreement before the end of the Term without liability
                        (except for amounts due for Services provided up to the effective date of the termination)
                        if “engageto” (a) fails to provide the Services in accordance with the terms of this
                        Agreement, such failure causes material harm to Customer and “engageto” does not
                        cure the failure within 10 days of receipt of notice in writing from Customer describing
                        the failure in reasonable detail; or (b) materially violates any other provision of this
                        Agreement and fails to cure the violation within 30 days of receipt of notice in writing
                        from the Customer describing the violation in reasonable detail.
                    </p>
                    <p>
                        If you wish to cancel your Subscription, you can do so by logging into your account and
                        proceeding with this option through the Account Setting Section at upper-right corner
                        menu. If you are unable to find this option within the Account Setting section or if you
                        have questions or need assistance, please contact Support and they can assist you with
                        the cancellation process. You will remain liable for all charges accrued on your account
                        up to the time that you downgrade or cancel your Subscription, including full monthly
                        fees for the month in which you cancelled, provided however that if you cancel your
                        Subscription within the first fourteen (14) days of opening your Intentpush Account, you
                        will receive a refund of your Subscription fee.
                    </p>
                    <p>
                        Upon cancellation of your Subscription, engageto is under no obligation to maintain or
                        store your account information or Content. Engageto may, at its option, either delete your
                        information and Content immediately or retain it (in full or in part) in accordance with
                        engageto's processes and practices.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="termination-intenize">9. Termination by engageto</h3>
                    <p>
                        “Engageto” may terminate this Agreement before the end of the Term without liability
                        (a) on 7 business days’ notice to Customer if Customer is overdue on the payment of
                        any amount due under this Agreement; (b) if Customer materially violates any other
                        provision of this Agreement and fails to cure the violation within 10 days’ notice in writing
                        from “engageto” describing the violation in reasonable detail; or (c) immediately on
                        written notice upon Customer becoming insolvent or bankrupt within the meaning of the
                        Bankruptcy and Insolvency Laws.
                    </p>
                    <p>
                        It is agreed that in case of termination, the fees owed to engageto as per this agreement 
                        will not be cancelled or waived. Customer’s data and account settings shall be irrevocably 
                        deleted within 30 days from the date of termination. It shall be Customer’s exclusive 
                        responsibility to secure all necessary data from Customer’s account prior to termination.
                    </p>
                    <p>
                        Engageto reserves the right at any time, and without cost, charge or liability, to terminate
                        this Agreement at its sole discretion for any reason, including, but not limited to, a failure
                        to comply with the terms of this Agreement. In addition, engageto may, in its sole discretion, 
                        at any time, temporarily or permanently suspend access to your account, Subscription or Services 
                        for any violation or suspected violation of this Agreement. Engageto also reserves the right to 
                        deny access to anyone, including, but not limited to those users who use proxy servers and/or IP 
                        addresses residing in certain geographical areas outside of India. engageto reserves the right 
                        to terminate any portion of the Site at any time, for any reason, with or without notice.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="suspension-service">10. Suspension of service</h3>
                    <p>
                        Engageto will be entitled to suspend the Service without liability if (a) engageto,
                        acting reasonably, believes that the Service is being used in violation of this Agreement or any 
                        applicable law; (b) Customer is in breach of any material term of this Agreement including, 
                        without limitation, failing to pay invoiced amounts in full within 15 days of the Due Date. The 
                        Customer will not be able to access any files on engageto’s servers during a suspension of 
                        Service. Engageto will use commercially reasonable efforts to give the Customer advance 
                        notice in writing of a suspension of Service unless a law enforcement or governmental agency 
                        directs otherwise or suspension without notice is necessary to protect engageto or its other 
                        customers. A suspension of Service under this subsection will not be considered a breach by 
                        engageto of the terms of this Agreement.
                    </p>
                    <p>
                        The account stands deleted and customers data/information shall be deleted from the database of 
                        engageto. But on special request and on being assured by the customer about resumption of 
                        services, engageto may extend the period of suspension and retain the data/information for 
                        further specified period of time as agreed.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="renewal-term">11. Renewal of term</h3>
                    <p>
                        Unless one of us gives the other written notice that it does not intend to renew the subscription, 
                        the paid subscription and this Agreement will automatically renew for the period selected by the 
                        customer in its latest term ("Renewal Subscription Term"). Written notice of non-renewal must be 
                        sent at least 15 days in advance of the end of the Subscription Term. The Renewal Subscription 
                        Term will be on the current terms and conditions of this Agreement, and subject to the renewal 
                        pricing provided for in your Order Form or, if not specified in the Order Form, on our standard 
                        pricing available at https://engageto.com/pricing/. Should you decide not to renew, you may 
                        send the notice of non-renewal by email to support@engageto.com.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="refund-policy">12. Refund policy</h3>
                    <p>
                        The Intentpush no-risk money back guarantee offers that, if at any time within the first 14 days 
                        of opening your paid Account you decide that Intentpush is not for you … just let our awesome 
                        support team know (we make it easy!). Free trial accounts are not eligible for refunds.
                    </p>
                    <p>
                        We will stop your Subscription and issue you a refund. Your request for a cancellation must be 
                        received within 24 business hours of the 14 days of the date and time of opening your paid 
                        Account. While some refunds may be instant, refund credit can take up to 5 – 10 business days to 
                        show up in your credit card statement.
                    </p>
                    <p>
                        If adequate notice is not received and your credit card is subsequently charged, you will
                        not receive a refund.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="discount-policy">13. Discount policy</h3>
                    <p>
                        On occasion, Intentpush may offer purchase incentives in the form of subscription discount codes. 
                        Discount codes are applied on an introductory basis, meaning that are only applied for the first 
                        term of the subscription selected. Discount codes do not perpetuate with the life of the 
                        subscription. After your initial term has passed, subscriptions will be charged the regular price.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="fees">14. Fees</h3>
                    <p>
                        You shall pay all fees specified in any subscription to Services or use of the Site (“Subscription”). 
                        We will charge you a periodic fee based on the Subscription you choose. Such fees shall be 
                        billed in advance for each period and are non-refundable except as specifically mentioned in 
                        these Terms of Service. Except for refunds provided for cancellation of Subscriptions within the 
                        first fourteen (14) days (as described in the section below entitled Cancellation and Termination 
                        and in the Intentpush Refund Policy), there will be no refunds or credits for partial months of 
                        service or for periods in which your Subscription remains active but you do not use the Services.
                    </p>
                    <p>
                        We reserve the right to modify our billing rates at any time upon thirty (30) days written
                        notice by posting such fee changes to the Services or on the Site.
                    </p>
                    <p>
                        At our discretion, we may offer free or discounted pricing for use of the Services (a “Trial
                        Program”). Once the terms of any Trial Program have expired, you agree that our normal billing 
                        rates shall apply. You agree to comply with any additional terms, restrictions or limitations 
                        (including limitations on the total amount of usage) we impose in connection with any Trial 
                        Program. You may not sign-up for multiple Accounts in order to receive additional benefits under 
                        any Trial Programs.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="billng-payment">15. Billing and payment agreements</h3>
                    <p>
                        Engageto will bill Customer on annual/monthly/quarterly/half yearly or any other mutually 
                        agreed period basis for all recurring fees. One‐time fees, including late payment fees, invoice 
                        processing fees, and returned check fees may occur at any time. No refunds or adjustment shall 
                        be issued for one‐time fees. For recurring fees, no refund or adjustment for plan downgrades, 
                        upgrades or elimination of plan features within the current billing term shall be issued. 
                        Invoices/payments are irrevocably deemed final and accepted by Customer unless disputed or sought 
                        clarification within thirty (30) days from the date of issue. Customer shall at all times provide 
                        and keep current and up‐to‐date Customer’s contact, credit card, if applicable, and billing 
                        information on the administrative control panel.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="payment">16. Payment by credit card</h3>
                    <p>
                        For payment engageto shall only provide an electronic invoice to Customer. Customer may view 
                        and print an invoice for Customer’s account (available in product’s interface). If you are paying 
                        by credit card, you authorize us to charge your credit card or bank account for all fees payable 
                        at the beginning of the Initial Subscription Term and all subsequent Billing Periods, including 
                        upgrades. You further authorize us to use a third party to process payments (E.g. Stripe), and 
                        consent to the disclosure of your payment information to such third party. Engageto can allow 
                        any other mode of payment on special requests and circumstances of the Customer.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="taxes">17. Taxes</h3>
                    <p>
                        Customer acknowledges that the all applicable taxes, duties or government levies whatsoever are 
                        not included in the fees and expenses charged under this Agreement. Customer will make timely 
                        payment of all such taxes, duties or government levies related to this Agreement.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="warranty-damages">18. Limited warranty, limitation of damages</h3>
                    <p>
                        Engageto provides services “as is”. Customer expressly agrees that use of engageto 
                        services is at Customer’s sole risk. Engageto and its subsidiaries, affiliates, officers, 
                        employees, agents, partners, vendors and licensors expressly disclaim all warranties of any kind, 
                        whether express or implied, including, but not limited to the implied warranties of 
                        merchantability, fitness for a particular purpose and non infringement. Customer hereby agree 
                        that the terms of this agreement shall not be altered due to custom or usage or due to the 
                        parties’ course of dealing or course of performance under this agreement.
                    </p>
                    <p>
                        Engageto and its subsidiaries, affiliates, officers, employees, agents, partners, vendors 
                        and licensors shall not be liable for any direct, indirect, incidental, special, punitive or 
                        consequential damages, including but not limited to damages for lost profits, business 
                        interruption, loss of programs or information, and the like, that result from the use or 
                        inability to use the services or from mistakes, omissions, interruptions, deletion of files or 
                        directories, errors, defects, delays in operation, or transmission, regardless of whether 
                        engageto has been advised of such damages or their possibility.
                    </p>
                    <p>
                        Customer agrees that Customer’s sole remedy for any claims regarding the Services is limited to 
                        the credits set forth and agreed as per tariff plan opted by the Customer.
                    </p>
                    <p>
                        Customer is fully responsible for the content of the information and data passing through
                        engageto's network or using the Services and for all activities that Customer conduct
                        with the assistance of the Services.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="intellectual-rights">19. Intellectual property rights</h3>
                    <p>
                        All right, title, interest and ownership and intellectual property rights in and to the Site,
                        engageto trademarks and the templates provided via the Site, including but not limited to its 
                        “look and feel” (e.g., text, graphics, images, logos, buttons, icons and the placement and layout 
                        thereof), images, video, audio, data, content, software (including html-based computer programs) 
                        and other media, material or information, other than your Content, are and will remain the 
                        property of engageto or its software or content suppliers. Any templates or derivatives of 
                        templates provided that you may build using the Site belong to engageto.
                    </p>
                    <p>
                        Subject to the terms and conditions of this Agreement, engageto grants to you, during the term of 
                        this Agreement, a non-transferable, non-sublicensable, non-exclusive, revocable, limited-purpose 
                        right to access and use the Services that are subject to a valid Subscription.
                    </p>
                    <p>
                        You acknowledge that any ideas, suggestions, concepts, processes or techniques which you provide 
                        to engageto related to the Services, the Site or engageto or its business (“Feedback”) shall 
                        become engageto's property without any compensation or other consideration payable to you by 
                        engageto, and you do so of your own free will and volition. Engageto may or may not, in its sole 
                        discretion, use or incorporate the Feedback in whatever form or derivative engageto may decide 
                        into the Site, its software, services, documentation, business or other products, or any future 
                        versions or derivatives of the foregoing. You hereby assign all rights on a worldwide basis in 
                        perpetuity to engageto in any Feedback and, as applicable, waive any moral rights.
                    </p>
                    <p>
                        Engageto owns any test results, data information and other output generated by your use of the 
                        Site and/or the Services during the term of this Agreement.
                    </p>
                    <p>
                        The following are registered trademarks, trademarks or service marks of engageto or its 
                        Affiliates: Intentpush. All custom graphics, icons, logos and service names are registered 
                        trademarks, trademarks or service marks of engageto or its Affiliates. All other trademarks 
                        or service marks are property of their respective owners. Nothing in these Terms of Use grants 
                        you any right to use any trademark, service mark, logo, and/or the name of engageto or its 
                        Affiliates.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="confidential-info">20. Confidential information</h3>
                    <p>
                        You agree to safeguard, keep secret and not to disclose to any third party, any Confidential 
                        Information acquired, learned or provided from engageto during the term of this Agreement or 
                        following the expiration or termination of this Agreement. “Confidential Information” means any 
                        information marked confidential or that ought reasonably to be considered confidential under the 
                        circumstances and includes, without limitation, any business plans, customer lists, operation 
                        procedures, trade secrets, design formulas and programming code, know-how and processes, computer 
                        programs and inventions, discoveries, and improvements of any kinds.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="indemnity">21. Indemnity</h3>
                    <p>
                        You agree to indemnify, defend, and hold harmless engageto, and its subsidiaries, affiliates, 
                        co-branders, all third-party advertisers, technology providers, service providers or other 
                        partners, and each of their respective officers, directors, agents, shareholders, employees and 
                        representatives, from and against any third party claim, demand, loss, damage, cost, or 
                        liability (including, reasonable attorneys’ fees) arising out of or relating to this Agreement or 
                        the Site, including but not limited to in relation to: (a) your use, nonuse or misuse of, or 
                        connection to the Site, the Services and any Content, including without limitation your Content 
                        and any third party Content, forming part of the Site; (b) your breach or alleged breach of this 
                        Agreement; and (c) your violation of any rights, including intellectual property rights, of a 
                        third party. Engageto reserves the right, at your expense, to assume the exclusive defense and 
                        control of any matter for which you are required to indemnify engageto and you agree to cooperate 
                        with engageto's defense of these claims. You agree not to settle any matter without the prior 
                        written consent of engageto. Engageto will use reasonable efforts to notify you of any such claim, 
                        action or proceeding upon becoming aware of it.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="affiliatetos">22. Affiliates</h3>
                    <p>
                        As an authorized affiliate (Affiliate) of engageto LLC (Intentpush), you agree to abide by the 
                        terms and conditions contained in this Agreement (Agreement). Please read the entire Agreement 
                        carefully before registering and promoting Intentpush as an Affiliate.
                    </p>
                    <p>
                        Your participation in the Program is solely to legally advertise our website to receive a
                        commission on memberships and products purchased by individuals referred to Intentpush by your own 
                        website or personal referrals.
                    </p>
                    <p>
                        By signing up for the Intentpush Affiliate Program (Program), you indicate your acceptance of this 
                        Agreement and its terms and conditions.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.1 Approval or rejection of the application</h3>
                    <p>
                        We reserve the right to approve or reject ANY Affiliate Program Application in our sole and 
                        absolute discretion. You will have no legal recourse against us for the rejection of your 
                        Affiliate Program Application.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.2 Commissions</h3>
                    <p>
                        Commissions will be paid once a month. For an Affiliate to receive a commission, the referred 
                        account must remain active for a minimum of 37 days.
                    </p>
                    <p>
                        You cannot refer yourself, and you will not receive a commission on your own accounts.
                        There is also a limit of one commission per referral. If someone clicks the link on your
                        site and orders multiple accounts, then you will receive a commission on the first order only.
                    </p>
                    <p>
                        Payments will only be sent for transactions that have been successfully completed.
                        Transactions that result in chargebacks or refunds will not be paid out.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.3 Termination</h3>
                    <p>
                        Your affiliate application and status in the Program may be suspended or terminated for
                        any of the following reasons:
                    </p>
                    <p>Inappropriate advertisements (false claims, misleading hyperlinks, etc.).</p>
                    <p>Spamming (mass email, mass newsgroup posting, etc.).</p>
                    <p>Advertising on sites containing or promoting illegal activities.</p>
                    <p>
                        Failure to disclose the affiliate relationship for any promotion that qualifies as an endorsement 
                        under existing Federal Trade Commission guidelines and regulations, or any applicable state laws.
                    </p>
                    <p>
                        Violation of intellectual property rights. Intentpush reserves the right to require license
                        agreements from those who employ trademarks of Intentpush in order to protect our intellectual 
                        property rights.
                    </p>
                    <p>
                        Offering rebates, coupons, or other form of promised kick-backs from your affiliate commission 
                        as an incentive. Adding bonuses or bundling other products with Intentpush, however, is 
                        acceptable.
                    </p>
                    <p>Self referrals, fraudulent transactions, suspected Affiliate fraud.</p>
                    <p>
                        In addition to the foregoing, Intentpush reserves the right to terminate any Affiliate account 
                        at any time, for any violations of this Agreement or no reason.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.4 Affiliate Links</h3>
                    <p>
                        You may use graphic and text links both on your website and within in your email
                        messages. You may also advertise the Intentpush site in online and offline classified
                        ads, magazines, and newspapers.
                    </p>
                    <p>
                        You may use the graphics and text provided by us, or you may create your own as long as they are 
                        deemed appropriate according to the conditions and not in violation as outlined in Condition 22.3.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.5 Coupon and deal sites</h3>
                    <p>
                        Intentpush occasionally offers coupon to selected affiliates and to our newsletter subscribers. 
                        If you’re not pre-approved / assigned a branded coupon, then you’re not allowed to promote the 
                        coupon. Below are the terms that apply for any affiliate who is considering the promotion of our 
                        products in relation to a deal or coupon:
                    </p>
                    <p>
                        Affiliates may not use misleading text on affiliate links, buttons or images to imply that
                        anything besides currently authorized deals to the specific affiliate.
                    </p>
                    <p>
                        Affiliates may not bid on Intentpush Coupons, Intentpush Discounts or other phrases
                        implying coupons are available.
                    </p>
                    <p>
                        Affiliates may not generate pop-ups, pop-unders, iframes, frames, or any other seen or unseen 
                        actions that set affiliate cookies unless the user has expressed a clear and explicit interest 
                        in activating a specific savings by clicking on a clearly marked link, button or image for that 
                        particular coupon or deal. Your link must send the visitor to the merchant site.
                    </p>
                    <p>
                        User must be able to see coupon/deal/savings information and details before an affiliate cookie 
                        is set (i.e. “click here to see coupons and open a window to merchant site” is NOT allowed).
                    </p>
                    <p>
                        Affiliate sites may not have “Click for (or to see) Deal/Coupon” or any variation, when there are 
                        no coupons or deals available, and the click opens the merchant site or sets a cookie. Affiliates 
                        with such text on the merchant landing page will be removed from the program immediately.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.6 Liability</h3>
                    <p>
                        Intentpush will not be liable for indirect or accidental damages (loss of revenue, commissions) 
                        due to affiliate tracking failures, loss of database files, or any results of intents of harm to 
                        the Program and/or to our website(s).
                    </p>
                    <p>
                        We do not make any expressed or implied warranties with respect to the Program and/or the 
                        memberships or products sold by Intentpush. We make no claim that the operation of the Program 
                        and/or our website(s) will be error-free and we will not be liable for any interruptions or 
                        errors.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.7 Term of the agreement</h3>
                    <p>
                        The term of this Agreement begins upon your acceptance in the Program and will end when your 
                        Affiliate account is terminated.
                    </p>
                    <p>
                        The terms and conditions of this agreement may be modified by us at any time. If any
                        modification to the terms and conditions of this Agreement are unacceptable to you, your
                        only choice is to terminate your Affiliate account. Your continuing participation in the
                        Program will constitute your acceptance of any change. 
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.8 Indemnification</h3>
                    <p>
                        Affiliate shall indemnify and hold harmless Intentpush and its affiliate and subsidiary
                        companies, officers, directors, employees, licensees, successors and assigns, including
                        those licensed or authorized by Intentpush to transmit and distribute materials, from any
                        and all liabilities, damages, fines, judgments, claims, costs, losses, and expenses
                        (including reasonable legal fees and costs) arising out of or related to any and all claims
                        sustained in connection with this Agreement due to the negligence, misrepresentation,
                        failure to disclose, or intentional misconduct of Affiliate.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.9 Governing law, jurisdiction and attorney fees</h3>
                    <p>
                        This Agreement shall be governed by and construed in accordance with the laws of the India and 
                        the State of Maharashtra. Any dispute arising under or related in any way to this Agreement 
                        shall be adjudicated exclusively in the state courts located in Pune, Maharashtra.
                    </p>
                    <p>
                        In the event of litigation to enforce any provision of this Agreement, the prevailing party will 
                        be entitled to recover from the other party its costs and fees, including reasonable legal fees.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3>22.10 Electronic signatures effective</h3>
                    <p>
                        The Agreement is an electronic contract that sets out the legally binding terms of your
                        participation in the Intentpush affiliate program. You indicate your acceptance of this
                        Agreement and all of the terms and conditions contained or referenced in this Agreement by 
                        completing the Share a Sale and/or Intentpush application process. This action creates an 
                        electronic signature that has the same legal force and effect as a handwritten signature.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3></h3>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="modification">23. Modification of terms and conditions</h3>
                    <p>
                        Engageto may update, amend, modify or supplement the terms and conditions of this Agreement 
                        from time to time and will use reasonable efforts to notify Customer regarding the same. Customer 
                        is responsible for regularly reviewing the most current version of this Agreement at any time at 
                        https://www.engageto.com/terms-and-conditions. If at any time Customer does not agree with any 
                        amendment, modification or supplement to the terms and conditions of this Agreement. Customer’s 
                        continued use of Customer’s account and/or the services after the notice period will be 
                        conclusively deemed to be acceptance by Customer of any such modifications or amendment.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="aggreement">24. Agreement to governing law and jurisdiction</h3>
                    <p>
                        If there is any dispute between you and engageto about or involving this Agreement, the Site or 
                        the Services, you hereby agree that the dispute shall be governed by and construed in accordance 
                        with the laws of the state of Maharashtra, without regard to its conflict of law provisions. You 
                        hereby agree to submit to the exclusive jurisdiction of the courts in Pune, Maharashtra, with 
                        respect to any claim, proceeding or action relating to or otherwise arising out of this Agreement, 
                        the Site or the Services, howsoever arising, provided always that engageto may seek and obtain 
                        injunctive relief in any jurisdiction.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="serverability">25. Severability</h3>
                    <p>
                        If any portion of this Agreement is deemed unlawful, void or unenforceable by any arbitrator or 
                        court of competent jurisdiction, this Agreement as a whole shall not be deemed unlawful, void or 
                        unenforceable, but only that portion of this Agreement that is unlawful, void or unenforceable 
                        shall be stricken from this Agreement.
                    </p>
                </div>
                <div class="custom-terms-wrapper">
                    <h3 id="legal-remedies">26. Legal remedies</h3>
                    <p>
                        You agree that this Agreement is specifically enforceable by injunctive relief and other
                        equitable remedies without proof of monetary damages.
                    </p>
                    <p>
                        You agree that if engageto does not exercise or enforce any legal right or remedy which is
                        contained in the Agreement (or which engageto has the benefit of under any applicable law), this 
                        will not be taken to be a formal waiver of engageto's rights and that those rights or remedies 
                        will still be available to engageto.
                    </p>
                    <p>Agreement Last Updated On: 1st January 2017</p>
                </div>
            </div>
        </div>
    </div>
</div>