<div class="custom-banner-area text-center terms-banner-area">
    <div class="container">
        <h1 class="custom-head terms-condition-head">WordPress Push Notifications Plugin</h1>
        <p>Attract more traffic to your website through our WordPress Notifications Plugin</p>
        <button type="button" class="btn custom-banner-btn">SIGN UP FOR FREE TRIAL</button>
    </div>
</div>
<div class="custom-browser-wrapper about-notification-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/chrome-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send Push Notifications to users’ desktops and mobiles instantly from your WordPress site</h4>
                    <p>
                        Research shows that Push Notifications have a higher click rate of over 25% as compared to Email 
                        or text messaging. Stay connected with your subscribers through instant clickable Push 
                        Notifications delivered directly to their browsers right from your WordPress website. All you 
                        need is a dedicated EngageTo plugin, and you can start sending them alerts. Even when they 
                        aren’t on your website but on Chrome or Firefox browsers through any device.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper choose-browser-push-notification-wrapper">
    <div class="container">
        <h3 class="text-center">Why Use EngageTo WordPress Push Notifications Plugin</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Automate Push Notifications</h4>
                    <p>
                        Tired of manually sending notifications? Don't worry, because EngageTo empowers you with the 
                        option of automating and scheduling your notifications for a later date and time.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Tailor-made messages</h4>
                    <p>
                        We understand the art of customizing communications to suit your audiences’ diverse needs. Add 
                        a personal touch to your Push Notifications to appeal to them.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Powerful metrics</h4>
                    <p>
                        Track the number of clicks through your EngageTo account. You can also check the number of 
                        subscribers and delivery rate of the notifications you send.
                    </p>
                </div>
            </div>
            <button class="btn browser-page-custom-btn btn-try">TRY BEFORE YOU BUY</button>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper enable-notification-wrapper">
    <div class="container">
        <h3 class="text-center">See How EngageTo WordPress Plugin Works</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Create your Free EngageTo Account and get your Account ID</h4>
                    <p>
                        Create your Free EngageTo Account. Then, on your Dashboard, click on the “Account Details” on 
                        the left of the screen and you’ll see your Account ID.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/free-account.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/plugin-wordpress-dashboard.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Add the EngageTo plugin to your WordPress dashboard</h4>
                    <p>
                        Log in to your WordPress dashboard and go to Plugins. Click on “Add New” on the left side. Now 
                        search for EngageTo in the search bar, select the plugin and click on “Install Now”. You’ve now 
                        installed EngageTo on your WordPress website. (If you want to download the plugin files 
                        directly, go to the WordPress plugin page.)
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Trigger plugin and add your Account ID</h4>
                    <p>
                        Once you’ve installed the EngageTo plugin, you will be prompted to start the plugin. After doing 
                        so, go to Settings, click on EngageTo and type your Account ID (Refer to Step 1). You’re ready 
                        to use EngageTo.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/account-id.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/opt-in.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Increase in click rate</h4>
                    <p>
                        The moment there’s a visitor on your website, an opt-in box will appear. If the visitor clicks 
                        on “Allow”, they will automatically get added to your subscriber list. You can personalize the 
                        opt-in message and the time after which the opt-in box appears.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Send your First Notification</h4>
                    <p>
                        You’re set to send your first notification! Just log in to your EngageTo dashboard, compose a 
                        title and a crisp message for the Push Notification and hit send! It's that easy to send Push 
                        Notifications.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/first-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-wrapper">
                    <img class="img-responsive" src="app/assets/images/real-time-push-notification.png" alt=""/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-wrapper">
                    <h4>Track the results</h4>
                    <p>
                        Your visitors will see the Push Notification in real-time. You can track the number of 
                        notifications delivered, the click-rate, and many other metrics on your EngageTo dashboard.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper business-needs-wrapper">
    <div class="container">
        <h3 class="text-center">How EngageTo Complements Your Website</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Higher Conversion Rate</h4>
                    <p>
                        Send Push Notifications to users’ desktops and mobile devices, in real-time. EngageTo gives you 
                        immediate and measurable results in terms of higher click-rates.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Gain virtual visibility</h4>
                    <p>
                        Your visitors get instant alerts from your website through our Push Notifications Service. Get 
                        their attention with crisp push messages. And with more clicks, your business will soar!
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-wrapper">
                    <h4>Engage and Retain subscribers</h4>
                    <p>
                        With real-time Push Notifications, keep your subscribers engaged on your website using new and 
                        old posts. You’ll also see returning subscriber traffic increase on your website.
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="btn browser-page-custom-btn btn-learn-more">LEARN MORE</button>
    </div>
</div>
<div class="custom-browser-wrapper works-on-wrapper works-on-wordpress">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/chrome.png" alt=""/>
                    Chrome for Web
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/android.png" alt=""/>
                    Chrome for Android
                </a>
            </div>
            <div class="col-sm-4">
                <a class="browser-link">
                    <img class="img-responsive" src="app/assets/images/firefox.png" alt=""/>
                    Firefox for Web
                </a>
            </div>
        </div>
    </div>
</div>
<div class="custom-browser-wrapper free-trial-wrapper free-trial-wordpress text-center">
    <h3>Start your 14 day Free Trial today</h3>
    <button type="button" class="btn browser-page-custom-btn btn-get-started">GET STARTED</button>
</div>