<div class="modal-body custom-push-notification-modal-body">
    <a href class="fa fa-times custom-close" ng-click="exitNotification.cancel()"></a>
    <h3 class="modal-title text-center exit-modal-head" id="modal-title">Are your sure you want to Exit?</h3>
    <p class="push-notification-content text-center">If you exit, all your entered information will be lost.</p>
    <button class="btn custom-modal-btn modal-blue-btn" type="button" ng-click="exitNotification.except()">Yes</button>
    <button class="btn custom-modal-btn modal-grey-btn" type="button" ng-click="exitNotification.cancel()">No</button>
</div>