<div class="dashboard-content-header">
    <h3 class="dashboard-content-area-heading">FCM Project Number & FCM API Key</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="fcm-details-container">
                <p class="fcm-details-information">
                    <span>IMPORTANT:</span> Your subscribers are currently attached to the common FCM API key of 
                    PushCrew. Though you can continue sending notifications,to be able to 
                    <a href="javascript:void(0);">export your subscriber list</a> later, we highly recommend that you 
                    add your own FCM Project Number and FCM API Key. 
                    <a href="javascript:void(0);">Here’s how to do it (takes just 5 minutes).</a>
                </p>
                <form class="form-inline fcm-form custom-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="FCM Project Number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="FCM API Key">
                    </div>
                    <button type="button" class="btn btn-use-key">Use my key</button>
                </form>
            </div>
            <div class="fcm-wrapper">
                <h5>Please enter your FCM Project Number and FCM API keys for a better experiece with PushCrew.</h5>
                <form class="form-inline fcm-form custom-form" name="fcmCredentialsForm" novalidate>
                    <div class="form-group">
                        <input type="text" id="fcmNumber" name="fcmNumber" class="form-control" ng-class="{'error-field': (fcmCredentialsForm.fcmNumber.$error.required || fcmCredentialsForm.fcmNumber.$error.pattern) && (fcmCredentialsForm.fcmNumber.$touched || fcmCredentialsForm.$submitted)}" placeholder="FCM Project Number" ng-model="fcm.details.number" ng-pattern="/^\d+$/" required>
                        <span class="error" ng-if="fcmCredentialsForm.fcmNumber.$error.pattern">FCM Number should be number.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" id="fcmKey" name="fcmKey" class="form-control" ng-class="{'error-field': fcmCredentialsForm.fcmKey.$error.required && (fcmCredentialsForm.fcmKey.$touched || fcmCredentialsForm.$submitted)}" placeholder="FCM API Key" ng-model="fcm.details.key" required>
                    </div>
                    <button type="submit" class="btn btn-use-key" ng-click="fcm.save()">Use my key</button>
                </form>
                <h5>Why should you add your FCM Project Number and FCM API Key?</h5>
                <p>
                    To send push notifications, Chrome requires signing up for a free FCM (Firebase Cloud Messaging) 
                    account. Currently, the entire PushCrew user-base is using our account. This means that your 
                    subscriber list is attached to the PushCrew FCM account. We therefore recommend that you sign up 
                    for your own FCM account and subscribe your users to it. This will ensure that you are able to 
                    export your subscriber list conveniently as and when you want. 
                    <span>Without it, you wouldn't be able to export your subscriber list.</span>
                </p>
                <p>
                    As of now, there's no limit on the number of subscribers or the number of push notifications in 
                    the FCM projects. Going forward, if Chrome adds a limit to these numbers, <span>your account might 
                    need to share the limit with all of our other users.</span> Hence, it's recommended that you add 
                    your own FCM Project Number and FCM API Key to your PushCrew account.
                </p>
                <a href="javascript:void(0);" class="fcm-hyperlink">Here's how to do it.</a>
                <h5>
                    Note: It's important that you follow these directions carefully. If you enter the wrong Project 
                    Number or API key, your delivery rate will drop down significantly. And you'll not be able to export 
                    your subscriber list in near future.
                </h5>
                <p>
                    Feel free to reach out to us at <span>info@pushcrew.com</span> if you face any issues.
                </p>
            </div>
        </div>
    </div>
</div>