/* 
    Created on : Dec 5, 2016, 4:18:14 PM
    Author     : ahextech
*/
.custom-container{
    .api-credentials-wrapper{
        width           : 800px;
        border          : 1px solid $blue-1;
        margin          : 20px 0 0;
        padding         : 10px;
        background-color: $white;
        .api-credentials-details{
            float  : left;
            width  : 600px;
            display: inline-block;
            p{
                &:first-of-type{
                    span{
                        margin: 0 0 0 43px;
                    }
                }
                color       : $form-label;
                font-size   : 14px;
                font-family : $opensans-light;
            }
        }
        .api-button-wrapper{
            float  : left;
            width  : 178px;
            display: inline-block;
            .btn-regenerate-api-key{
                border: 1px solid $blue-1;
                &:focus, &:hover{
                    border-color: $blue-hover;
                }
            }
            .api-documentation-link{
                color      : $blue-1;
                display    : block;
                font-size  : 14px;
                margin-top : 20px;
                text-align : right;
                font-family: $opensans-light;
                &:focus, &:hover{
                    color : $blue-1;
                }
            }
        }
    }
}