/* 
    Created on : Dec 6, 2016, 7:08:40 PM
    Author     : ahextech
*/

/* Styles for FCM Form Starts Here */
.fcm-form{
    margin-bottom: 15px;
    .btn-use-key{
        @include border-radius(2px);
        @include button(100%, 110px, $blue-light-20);
        @include font($white, 14px, $roboto-regular);
        @include transition(all 0.5s ease-in-out);
        &:hover{
            background-color: $blue;
        }
    }
}
/* Styles for FCM Form Ends Here */

.fcm-wrapper{
    padding         : 15px;
    background-color: $white;
    h5{
        margin      : 0 0 25px;
        word-spacing: 3px;
        @include font($form-label, 13px, $roboto-regular);
    }
    p{
        word-spacing: 3px;
        @include font($form-label, 13px, $roboto-light);
        span{
            @include font($form-label, 13px, $roboto-regular);
        }
    }
    a{
        display      : inline-block;
        margin-bottom: 10px;
        @include font($blue, 13px, $roboto-regular);
        &:focus, &:hover{
            color: $blue;
        }
    }
}

/* Styles for FCM Details Information Box Starts Here */
.fcm-details-container{
    border          : 1px solid $grey-1;
    padding         : 20px;
    border-top      : 3px solid $red-border;
    margin-bottom   : 15px;
    background-color: $white;
    .fcm-details-information{
        word-spacing: 3px;
        @include font($grey-1, 13px, $roboto-light);
        span{
            @include font($form-label, 14px, $roboto-regular);
        }
        a{
            @include font($blue, 13px, $roboto-regular);
        }
    }
}
/* Styles for FCM Details Information Box Ends Here */
