/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 May, 2017, 4:16:52 PM
    Author     : AhexTech
*/
.summary-wrapper{
    /*padding         : 20px;*/
    position        : relative;
    /*background-color: $white;*/
    .range-picker-wrapper{
        top     : 0;
        right   : 0;
        position: absolute;
        .range-picker-container{
            position: relative;
            .fa{
                top      : 8px;
                left     : 10px;
                position : absolute;
                font-size: 18px;
            }
            input[type="text"]{
                padding-left: 35px;
                min-width: 220px;
            }
        }
    }
    .nav-tabs{
        .nav-item{
            margin-bottom: 0;
            &.active{
                .nav-link{
                    color               : $blue;
                    border-bottom-color : $blue;
                }
            }
            .nav-link{
                border          : none;
                background-color: transparent;
                border-bottom   : 3px solid transparent;
                @include transition(all 0.3s ease-in-out);
                @include border-radius(0);
                @include font($black-1, 16px, $roboto-regular);
                &:focus, &:hover{
                    color               : $blue;
                    border-bottom-color : $blue;
                }
            }
        }
    }
    .card-wrapper{
        padding-top: 25px; 
        .card{
            position: relative;
            width: 100%;
            margin: 0 0 25px;
            color: $form-label;
            padding: 10px 20px;
            border: 1px solid $grey-border-dark;
            background: $white;
            min-height: 125px;
            @include border-radius(6px)
            @include box-shadow(0 0 15px 0 rgba(0,0,0,.14));
            .card-content{
                position: relative;
                text-align: right;
                padding-left: 50px;
                border-bottom: 1px solid $grey-border-dark;
                padding-bottom: 10px;
                .icon{
                    left: 0;
                    top: 10px;
                    position: absolute;
                    font-size: 30px;
                    &.sent{
                        color: #4caf50;
                    }
                    &.view{
                        color: #4bc0c0;
                    }
                    &.click{
                        color: #e91e63;
                    }
                    &.ctr{
                        color: #ff9800;
                    }
                }
                .type{
                    font-size: 14px;
                }
                .counter{
                    font-size: 30px;
                }
            }
            .card-footer{
                padding: 10px 0 0;
                .detailed-report{
                    @include font($blue, 14px, $roboto-light);
                    &:focus, &:hover{
                        color: $blue;
                    }
                }
            }
        }
    }
}

.chart-container{
    .chart-wrapper{
        color           : $form-label;
        border          : 1px solid $grey-border-dark;
        padding         : 10px 20px;
        position        : relative;
        overflow        : hidden;
        min-height      : 300px;
        margin-bottom   : 30px;
        background-color: $white;
        @include border-radius(6px)
        @include box-shadow(0 0 15px 0 rgba(0,0,0,.14));
        .chart-overlay{
            top       : 0;
            left      : 0;
            right     : 0;
            bottom    : 0;
            padding   : 130px 0;
            position  : absolute;
            background: rgba(0,0,0,0.7);
            text-align: center;
            @include border-radius(6px);
            @include font($white, 26px, $roboto-regular);
        }
        svg{
            margin: 0 auto;
            display: block;
            min-width: 400px;
        }
        .chart-title{
            font-size: 20px;
            text-align: center;
            font-family: $roboto-medium;
            letter-spacing: 1px;
            span{
                display: block;
                font-size: 16px;
                font-family: $roboto-regular;
                margin-top: 5px;
            }
        }
        #world-map-chart{
            path {
                stroke:white;
                stroke-width: 1px;
            }
            .legend {
                font-size: 12px ;

            }

            div.tooltip {   
                position: absolute;           
                text-align: center;           
                width: 200px;                  
                height: 50px;                 
                padding: 2px;             
                font-size: 5px;
                color: white;     
                background: #696969;
                border: 5px;      
                border-radius: 8px;           
                pointer-events: none;  
                font-family:'Cursive';
                font-size:medium;      
            }
        }
    }
}

/*--  Media Styles  --*/
@media(min-width:320px) and (max-width: 767px){
    .summary-wrapper{
        .range-picker-wrapper{
            position: initial;
        }
    }
}
