/* 
    Created on : Sep 2, 2016, 4:05:16 PM
    Author     : ahextech
*/

/* Color Variables */
$red                    : #ff0000;
$red-medium             : #eb5160;
$red-light              : #f07f8a;
$grey                   : #bcbbbb;
$red-1                  : #da6755;
$red-2                  : #fb4848;
$white                  : #fff;
$black                  : #000;
$green                  : #37a000;
$grey-1                 : #656565;
$grey-2                 : #858585;
$grey-3                 : #848484;
$grey-4                 : #57626c;
$grey-5                 : #15181c;
$grey-6                 : #e7e7e7;

$grey-8                 : #ccc;
$grey-9                 : #eceeef;
$blue-1                 : #1f8cff;
$blue-2                 : #63baff;
$blue-3                 : #32c4e9;
$blue-4                 : #6dcff6;
$blue-5                 : #dcefff;
$blue-6                 : #5c9bc6;
$blue-7                 : #4a90e2;
$green-1                : #7cc576;
$green-2                : #83c11f;
$green-3                : #659619;

$off-white              : #f7f7f7;
$sea-green              : #34babc;
$separator              : #d6d8d8;


$form-label             : #555;
$off-white-1            : #fefefe;
$back-button            : #6e6e6e;
$border-grey            : #d4d4d4;
$footer-blue            : #073763;
$footer-grey            : #f2f2f2;
$border-green           : #659519;

$light-grey-2           : #e4e4e4;
$ratio-slider           : #d2d2d2;

$twitter-blue           : #2aa9e0;
$facebook-blue          : #3b5998;
$linkedin-blue          : #2164f3;
$logout-options         : #636363;

$google-plus-red        : #d34836;
$btn-group-border       : #b6b6b6;
$table-light-blue       : #d2e8fb;
$breadcrumbs-border     : #b1b1b1;
$notification-background: #f0f0f0;

/* Hover Colors */
$red-hover  : #f63232;
$blue-hover : #0088ff;
$grey-hover : #494e52;
$green-hover: #2ae21a;

/* Font Family Variables */
$lato-regular      : 'lato-regular';
$opensans-light    : 'opensans-light';
$opensans-regular  : 'opensans-regular';
$opensans-semibold : 'opensans-semibold';
$montserrat-regular: 'montserrat-regular';

/* New Colors and Fonts */

/* New Colors */
$blue               : #196ae5;
$grey-7             : #777;
$black-1            : #151414;
$black-2            : #484848;
$black-3            : #404040;
$black-4            : #191919;
$green-4            : #26cdb7;
$green-5            : #0db544;
$sky-blue           : #f0f8fa;
$dark-blue          : #162641;
$dark-grey          : #333;
$dark-green         : #1b564e;
$grey-label         : #bbb;
$green-line         : #208c89;
$light-blue         : #46bdd1;
$light-grey         : #f1f1f1;
$red-border         : #d31900;
$banner-blue        : #192d51;
$dark-blue-1        : #182844;
$dark-blue-2        : #162240;
$grey-border        : #efefef;
$light-green        : #6bb928;
$medium-grey        : #c0d5df;
$light-grey-1       : #edf5f8;
$sidebar-grey       : #333a4d;
$blue-light-20      : #4c9dff;
$grey-light-80      : #f1f1f1;
$black-light-20     : #484747;
$light-green-10     : #85d342;
$sidebar-options    : #969aa4;
$sidebar-submenu    : #3e445c;
$grey-placeholder   : #7d7d7d;
$medium-light-grey  : #c1c1c1;
$grey-placeholder-1 : #d3d3d3;
$sidebar-active-blue: #02aadb;
$sidebar-list-border: #00071a;
$grey-border-dark   : #ddd;

$btn_edit_bg        : #5aca82;
$btn_view_bg        : #329cff;
$btn_delete_bg      : #f86a67;

$input_border       : #d7d6d9;
$input_hover_border : #86848c;
$input_focus_border : #196ae5;

/* New Fonts */
$roboto-bold       : 'roboto-bold';
$roboto-light      : 'roboto-light';
$roboto-medium     : 'roboto-medium';
$roboto-regular    : 'roboto-regular';